<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Magestore_Popupplus::magestorepopupplus" title="POPUPPLUS" resource="Magestore_Popupplus::magestorepopupplus" module="Magestore_Popupplus" sortOrder="20"/>
    <add id="Magestore_Popupplus::managepopupplus" title="Manage Popupplus" resource="Magestore_Popupplus::managepopupplus" parent="Magestore_Popupplus::magestorepopupplus" action="magestorepopupplusadmin/popupplus" module="Magestore_Popupplus" sortOrder="20"/>
    <add id="Magestore_Popupplus::settings" title="Settings" module="Magestore_Popupplus" parent="Magestore_Popupplus::magestorepopupplus" action="adminhtml/system_config/edit/section/popupplus" resource="Magestore_Popupplus::config_popupplus" sortOrder="30"/>
  </menu>
</config>
